body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}


.header {
    background-color: #BEBB85;
    padding: 10px;
    text-align: center;
    background-image: cover;
    border: 1px solid black;

}


.h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}

.h2 {
    text-decoration: none;
    text-align: center;
    font-size: small;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;


}



.topnav {
    overflow: hidden;
    background-color: black;



}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: small;
    border-right: 1px solid #bbb;


}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.infotext {
    background-color: #F1F2D8;
    padding: 10px;
    text-align: center;
    position: relative;

}


div.galleryone {
    border: 1px solid black;
    background-color: #BEBB85;
    color: black;
}

div.galleryone:hover {
    border: 1px solid #F1F2C2;

}

div.galleryone img {
    width: 100%;
    height: auto;
    position: relative
}

div.desc {
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsiveone {
    padding: 0 6px;
    float: right;
    width: 50%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.gallery {
    border: 1px solid black;
    background-color: #402D1D;
    color: #F1F2D8;
    margin: 5px;
    border: 1px solid #ccc;


}


.info {
    background-color: #BEBB85;
    color: #402D1D;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: auto;
}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    font-size: small;

}


.row {
    margin: 0 -2px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #BEBB85;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 2px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #F0701A;
    color: white;
    padding: 8px 12px;
    border: none;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 6px 2px;
}



.container {
    border-radius: 0px;
    background-color: #BEBB85;
    border: 1px solid black;
    padding: 10px;
    font-size: smaller;
    width: auto;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;


}

.grid-container>div {
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    position: absolute;

}

.button {
    color: white;
    border-radius: 4%;
    background-color: #402C1A;
    border: 2px solid black;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 6px 2px;
    cursor: pointer;

}

p.b {
    word-spacing: 30px;
}

.footer {
    background-color: #BEBB85;
    padding: 20px;
    text-align: center;
    text-decoration: #ccc;
    width: auto;
    border: 1px solid black;
    font-size: small;
}